<% @songs.each do |song| %>
    <h2>- - - - - - - - - - - - </h2>
    <p><%= link_to song.name, song_path(song)%> </p>
    <p>By: <%= link_to song.artist.name, artist_path(song.artist)%> </p>
    <p>Genre: <%= link_to song.genre.name, genre_path(song.genre) %> </p> 
 
<% end %>